footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

footer .text-center {
    color: #333;
    font-size: 14px;
    margin: 0;
}

/* Responsive styles based on device*/
@media (max-width: 768px) {
    footer {
        padding: 15px 0;
    }
    
    footer .text-center {
        font-size: 12px;
    }
}


/* Index.ejs */

.custom-wrapper {
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    color: #666;
    text-align: center;
    line-height: 1.6;
}

a.btn-primary {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px 0;
    text-align: center;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

a.btn-primary:hover {
    background-color: #0056b3;
}

/*the end*/

/*TABLE*/
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    font-family: "Source Sans Pro", sans-serif;
    min-width: 400px;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .table th,
  .table td {
    padding: 12px 15px;
  }
  
  .table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .table a.btn {
    padding: 6px 12px;
    font-size: 0.9em;
    text-decoration: none;
  }
  
  .btn-info {
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .btn-info:hover {
    background-color: #0056b3;
  }
  
  .btn-warning {
    background-color: #ffc107;
    color: white;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .btn-warning:hover {
    background-color: #e0a800;
  }
  