<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Support Ticket System</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/style/style.css">
    
    <!-- Additional meta tags -->
    <meta name="description" content="Support IT Ticket System">
    <meta name="author" content="Abduvohid Ilhomov">
    <link rel="icon" href="/style/favicon.ico">
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <!-- Navigation Bar -->
            <nav class="col-md-2 navbar navbar-dark bg-dark flex-column vh-100">
                <a class="navbar-brand" href="/">Ticketing System</a>
                <ul class="navbar-nav">
                    <% if (!user) { %>
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <% } %>
                    <% if (user) { %> 
                        <li class="nav-item"><a class="nav-link" href="/ticket/new">Create New Ticket</a></li>
                    <% } %>
                    <% if (user && user.role === 'admin') { %>
                        <li class="nav-item"><a class="nav-link" href="/ticket/list">Edit Tickets</a></li>
                        <li class="nav-item"><a class="nav-link" href="/categories/manage">Manage Categories</a></li>
                    <% } %>
                    <% if (user) { %>
                        <li class="nav-item"><a class="nav-link" href="/dashboard">Welcome, <%= user.username || user.email %></a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    <% } else { %>
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                    <% } %>
                </ul>
            </nav>

            <!-- Main Content -->
            <div class="col-md-10 main-content">
                <div class="container mt-4">
