<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Support Ticket System</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/style.css">
</html>