<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support Ticket System</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    
    <!-- Custom CSS (important)-->
    <link rel="stylesheet" href="/style/style.css">
    
    <!-- Additional meta tags -->
    <meta name="description" content="Support IT Ticket System">
    <meta name="author" content="Abduvohid Ilhomov">
    <link rel="icon" href="/style/favicon.ico">
</head>
<body>
