<%- include('../partials/header', { title: 'Welcome to the Support Ticket System' }); %>

<div class="container text-center">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Welcome to the Support Ticket System</h1>
        <hr class="my-4">

        <% if (!user) { %>
            <a class="btn btn-primary btn-lg mx-2" href="/login" role="button">Login</a>
            <a class="btn btn-secondary btn-lg mx-2" href="/register" role="button">Register</a>
        <% } else { %>
            <a class="btn btn-primary btn-lg mx-2" href="/dashboard" role="button">Go to Dashboard</a>
            <a class="btn btn-secondary btn-lg mx-2" href="/ticket/new" role="button">Create New Ticket</a>
        <% } %>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-3 text-center"> 
            <i class="fa fa-ticket-alt fa-3x"></i>
            <h3 class="do-middle-header">Create Tickets</h3>
            <p>Submit support requests and track their progress.</p>
        </div>
    </div>
    
</div>

<%- include('../partials/footer'); %>
