<%- include('../partials/header', { title: 'User Dashboard' }); %>

<body>
    <div class="container">
        <h1>User Created Successfully!</h1>
        <p>The user has been created successfully.</p>

        <button class="btn btn-danger" onclick="window.location.href='/users/manage';">Go to User List</button>
        <button class="btn btn-danger" onclick="window.location.href='/dashboard';">Go to Dashboard</button>
    </div>
</body>
<%- include('../partials/footer'); %>
