<%- include('../partials/header', { title: 'User Dashboard' }); %>

<body>
    <div class="container">
        <h1>User Already Exists</h1>
        <p><%= message %></p>
        <a href="/users/create">Try Again</a>
    </div>
</body>

<%- include('../partials/footer'); %>
